.gitignore
7.1.Чат-бот_план реализации.txt
db_er.png
DB.db
lineRegression_example.py
lineRegression.py
matrix_numpy.py
sql.sql
Тесты курсы(1).xlsx
p2/2_1.py
p2/2_2.py
p2/2_3.py
p2/2_4.py
p2/2_5.py
p2/2_6_test.txt
p2/2_6.py
p2/2_7.py
p3/3_2_sql.txt
p3/bd_test.db
p3/bd_test.sqbpro
p3/create_db.py
p3/phone_directory.db
p3/viz_er_diag_db_test.jpg
p3/sqlite3/sqldiff.exe
p3/sqlite3/sqlite3_analyzer.exe
p3/sqlite3/sqlite3_rsync.exe
p3/sqlite3/sqlite3.exe
p3/sqlite3/test_base.db
p3/sqlite3/test_base.db;
p4/4_2.py
p4/4_4.py
p4/4_5.py
p4/4.2.py
p4/4.4.py
p4/4.5.py
p4/fake.jpeg
p4/image.png
p4/text_tok.txt
p6/MyMindMap.png
p6/Spiski-v-Python-Vvedenie.pptx
p6/видеоурок Списки Python.mp4
p6/Практическая работа 2.docx
p7.1/bot/test_main_bot.py
p7.1/bot/__pycache__/config.cpython-313.pyc
